@charset "windows-1250";
/* CSS Document */

body{
	background:#aed5f8;
	margin:0;
	padding:0;
	}
	
body, select, input, div{
	font-family:Arial, Helvetica, sans-serif, Calibri;
	font-size:14px;
	color:#777;
	line-height:18px;
	}

img{
	border:none;
	}

.clr{
	clear:both;
	height:0;
	}

hr{
	margin:15px 0;
	}

a{
	color:#777;
	text-decoration:none;
	outline:none;
	}

a:hover{
	color:#777;
	outline:none;
	text-decoration:underline;
	}

.color1{
	color:#333;
	}

.NoMarginRt{
	margin-right:0 !important;
	}

.container{
	width:1108px;
	margin:0 auto;
	}

.MainBody{
	background: url(../images/NewDesign/bodyBtm.png) no-repeat bottom;
	width:1108px;
	float:left;
	margin-top:10px;
	padding-bottom:13px;
	}
	
.MainBodyTop{
	background:url(../images/NewDesign/bodyTop.png) no-repeat;
	width:1108px;
	height:11px;
	}

.MainBodyContents{
	background:#fff;
	width:1028px;
	float:left;
	padding:5px 40px;
	}

.logo{
	height:30px;
	width:243px;
	float:left;
	margin:0;
	}

.logo3 a{
	background:url(../images/NewDesign/logo.png) no-repeat;
	height:30px;
	width:243px;
	display:block
	}

#menu{
	width:500px;
	float:left;
	font-size:18px;
	line-height:30px;
	font-weight:bold;
	text-align:center;
	margin-left:40px
	}

#menu ul{
	margin:0;
	padding:0;
	}

#menu ul li{
	float:left;
	display:inline;
	list-style:none;
	padding:0 20px;
	}

#menu ul li a{
	color:#777;
	display:block; 
	text-decoration:none;
	}

#menu ul li a:hover{
	text-decoration:underline;
	}

.login{
	width:60px;
	float:right;
	font-size:18px;
	line-height:30px;
	font-weight:bold;
	}

.leftC{
	width:252px;
	float:left;
	margin-top:20px;
	}

.siderNav{
	background:url(../images/NewDesign/siderNavBtm.png) no-repeat bottom;
	width:252px;
	float:left;
	padding-bottom:13px;
	}

.siderNavTop{
	background:url(../images/NewDesign/siderNavTop.png) no-repeat;
	height:13px;
	width:252px;
	}

.siderNavContents{
	background:#f5f5f5;
	width:228px;
	float:left;
	padding:0 12px;
	}

.siderNavContents ul{
	margin:0;
	padding:0;
	}

.siderNavContents ul li{
	font-size:16px;
	list-style:none;
	line-height:38px
	}

.siderNavContents ul li a{
	color:#333;
	display:block;
	font-weight:bold;
	padding-left:20px;
	}

.siderNavContents ul li a:hover{
	background:url(../images/NewDesign/siderNavBg.png) no-repeat;
	color:#fff;
	text-decoration:none;
	}

.siderNavContents ul li a.active{
	background:url(../images/NewDesign/siderNavBg.png) no-repeat;
	color:#fff;
	text-decoration:none;
	}

.TourBtn{
	width:132px;
	float:left;
	line-height:37px;
	padding-bottom: 5px;
	}

.TourBtn a{
	background:url(../images/NewDesign/TourBtn.png) no-repeat top;
	width:132px;
	height:37px;
	display:block;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	}

.TourBtn a:hover{
	background:url(../images/NewDesign/TourBtn.png) no-repeat bottom;
	text-decoration:none
	}

.joinBtn{
	width:109px;
	float:left;
	line-height:37px;
	padding-bottom: 5px;
	}

.joinBtn a{
	background:url(../images/NewDesign/JoinBtn.png) no-repeat top;
	width:109px;
	height:37px;
	display:block;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	}

.joinBtn a:hover{
	background:url(../images/NewDesign/JoinBtn.png) no-repeat bottom;
	text-decoration:none
	}

.rightC{
	width:745px;
	float:right;
	margin-top:20px;
	}

.Heading01{
	color:#96c930;
	font-size:36px;
	font-weight:bold;
	line-height:36px;
	padding-bottom:10px;
	display:block;
	}

.Heading02{
	color:#333;
	font-size:24px;
	font-weight:bold;
	line-height:24px;
	padding-bottom:20px;
	display:block;
	}

#menu02{
	width:720px;
	float:left;
	line-height:30px;
	text-align:center;
	margin-bottom:30px;
	}

#menu02 ul{
	margin:0;
	padding:0;
	}

#menu02 ul li{
	width:120px;
	float:left;
	display:inline;
	list-style:none;
	padding-top:80px;
	}

#menu02 ul li a{
	color:#777;
	display:block; 
	text-decoration:none;
	}

#menu02 ul li a:hover{
	text-decoration:underline;
	}

.trip{ background:url(../images/NewDesign/trip.png) no-repeat top center;}
.community{ background:url(../images/NewDesign/community.png) no-repeat top center;}
.run{ background:url(../images/NewDesign/run.png) no-repeat top center;}
.base{ background:url(../images/NewDesign/base.png) no-repeat top center;}
.group{ background:url(../images/NewDesign/group.png) no-repeat top center;}
.organization{ background:url(../images/NewDesign/organization.png) no-repeat top center;}

.TextBox{
	width:740px;
	float:left;
	}

.TextBoxHeading{
	color:#333;
	float:left;
	width:150px;
	font-size:24px;
	font-weight:bold;
	line-height:24px;
	margin:0 10px 0 0;
	padding:0 0 0 0;
	}

.TextStyle01{
	float:right;
	width:580px;
	font-size:18px;
	line-height:20px;
	margin:0;
	padding:0;
	}

.leftAro{
	background:url(../images/NewDesign/leftAro.png) no-repeat;
	width:23px;
	height:64px;
	float:left;
	margin-top:40px;
	}

.rightAro{
	background:url(../images/NewDesign/rightAro.png) no-repeat;
	width:23px;
	height:64px;
	float:right;
	margin-top:40px;
	}

.testimonial{
	width:159px;
	float:left;
	font-size:12px;
	margin:0 25px;
	padding:162px 0 0 20px;
	}

.T01{ background:url(../images/NewDesign/testimonial01.jpg) no-repeat;}
.T02{ background:url(../images/NewDesign/testimonial02.jpg) no-repeat;}
.T03{ background:url(../images/NewDesign/testimonial03.jpg) no-repeat;}

.box1{
	height:261px;
	width:301px;
	float:left;
	color:#333;
	font-size:16px;
	position:relative;
	margin:0 70px 30px 0;
	padding:15px 0 10px 0;
	}

.box1Bottom{
	background:url(../images/NewDesign/img11.png);
	width:281px;
	left:0px;
	color:#333;
	bottom:0px;
	padding:5px 10px;
	position:absolute;
	}

.box1Heading01, .box1Heading02, .box1Heading03, .box1Heading04{
	font-size:36px;
	line-height:36px;
	font-weight:bold;
	display:block;
	padding-left:20px;
	}

.img01{ background:url(../images/NewDesign/img01.jpg) no-repeat;}
.img02{ background:url(../images/NewDesign/img02.jpg) no-repeat;}
.img03{ background:url(../images/NewDesign/img03.jpg) no-repeat;}
.img04{ background:url(../images/NewDesign/img04.jpg) no-repeat;}
.img05{ background:url(../images/NewDesign/img05.jpg) no-repeat;}
.img06{ background:url(../images/NewDesign/img06.jpg) no-repeat;}
.img07{ background:url(../images/NewDesign/img07.jpg) no-repeat;}
.img08{ background:url(../images/NewDesign/img08.jpg) no-repeat;}
.img09{ background:url(../images/NewDesign/img09.jpg) no-repeat;}
.img10{ background:url(../images/NewDesign/img10.jpg) no-repeat;}
.container .MainBody .MainBodyContents .rightC .TextBox ul {
	margin: 0px;
	padding: 0px;
}
.container .MainBody .MainBodyContents .rightC .TextBox ul li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.container .MainBody .MainBodyContents .rightC .TextBox ul li a {
	height: 330px;
	width: 346px;
	text-align: left;
	display: block;
	margin-right: 20px;
	float: left;
}
.container .MainBody .MainBodyContents .rightC .TextBox ul #text {
	height: 30px;
	width: 300px;
	text-align: center;
	font-family: verdana;
	font-size: 13px;
	clear: both;
	margin-left: 18px;
	float: left;
}
.container .MainBody .MainBodyContents .rightC .TextBox ul #para {
	height: 30px;
}
.container .MainBody .MainBodyContents .rightC .TextBox ul #para {
	height: 30px;
	width: 700px;
}
.cont{
	font-family: ArialMT;
	font-size:14px;
	color:#333333;
	float:left;
	width:315px;
	padding:5px 15px;
	height:auto;
	}
.title{
	font-family: ArialMT;
	font-size:25px;
	color:#333333;
	width:300px;
	font-weight:bold;
	text-decoration:none;
	float:left;
	height:234px;
	padding-left:12px;
	padding-top:10px;
	line-height:30px;
	}
.open{
	height: 244px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/opentoall.png) no-repeat;
	float: left;
	margin-right:20px;
}
.pers{
	height: 330px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/personalised.png) no-repeat;
	float: left;
}

.demons{
	height: 330px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/demonstrating.png) no-repeat;
	float: left;
}
.stru{
	height: 330px;
	width: 346px;
	text-align: left;
	float: left;
	margin-left:20px;
	background:url(../images/NewDesign/structure.png) no-repeat;
}

.reln{
	height: 370px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/customerreln.png) no-repeat;
	float: left;
}
.survey{
	height: 370px;
	width: 346px;
	text-align: left;
	float: left;
	margin-left:20px;
	background:url(../images/NewDesign/surveys.png) no-repeat;
}
.network{
	height: 330px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/network.png) no-repeat;
	float: left;
}
.social{
	height: 330px;
	width: 346px;
	text-align: left;
	float: left;
	margin-left:20px;
	background:url(../images/NewDesign/socialmedia.png) no-repeat;
}







.donation{
	height: 244px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/donation.png) no-repeat;
	float: left;
	margin-right:20px;
}
.donor{
	height: 330px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/donor.png) no-repeat;
	float: left;
}

.admin{
	height: 330px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/admin.png) no-repeat;
	float: left;
}
.dynamic{
	height: 330px;
	width: 346px;
	text-align: left;
	float: left;
	margin-left:20px;
	background:url(../images/NewDesign/dynamic.png) no-repeat;
}

.comn{
	height: 330px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/commn.png) no-repeat;
	float: left;
}
.sharing{
	height: 330px;
	width: 346px;
	text-align: left;
	float: left;
	margin-left:20px;
	background:url(../images/NewDesign/sharing.png) no-repeat;
}
.liability{
	height: 350px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/liability.png) no-repeat;
	float: left;
}
.safe{
	height: 350px;
	width: 346px;
	text-align: left;
	float: left;
	margin-left:20px;
	background:url(../images/NewDesign/safe.png) no-repeat;
}



.unqn{
	height: 350px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/unqn.png) no-repeat;
	float: left;
	margin-right:20px;
}
.cost{
	height: 350px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/cost.png) no-repeat;
	float: left;
}

.shop{
	height: 350px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/shop.png) no-repeat;
	float: left;
}
.account{
	height: 350px;
	width: 346px;
	text-align: left;
	float: left;
	margin-left:20px;
	background:url(../images/NewDesign/account.png) no-repeat;
}

.mprocessing{
	height: 350px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/mprocessing.png) no-repeat;
	float: left;
}

.pricingchart{
	float:left;
	height:715px;
	width:745px;
	margin-bottom:59px;
}
.ptop{
	float:left;
	background:url(../images/NewDesign/ptop.png) no-repeat;
	height:41px;
	width:713px;
	}
.pmid{
	float:left;
	background:#E6F7E8 url(../images/NewDesign/pmid.png) no-repeat center center;
	height:694px;
	width:745px;
	}
.pbot{
	float:left;
	background:url(../images/NewDesign/pbot.png) no-repeat;
	height:20px;
	width:713px;
	}
	
.title1{
	font-family: ArialMT;
	font-size:24px;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	float:left;
	padding-left:30px;
	line-height:40px;
	}
	

.box2{
	height: 244px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/box1.png) no-repeat;
	float: left;
	margin-bottom:15px;
	
}

.box3{
	height: 244px;
	width: 346px;
	text-align: left;
	background:url(../images/NewDesign/box1.png) no-repeat;
	float: left;
	margin-left:20px;
	margin-bottom:15px;

}

.title3{
	font-family: ArialMT;
	font-size:24px;
	color:#333333;
	width:325px;
	font-weight:bold;
	text-decoration:none;
	float:left;
	height:94px;
	padding-left:12px;
	padding-top:10px;
	line-height:30px;
	}
	
.cont1{
	font-family: ArialMT;
	font-size:14px;
	color:#333333;
	float:left;
	width:325px;
	padding:5px 10px;
	height:auto;
	}.container .MainBody .MainBodyContents .rightC #right #box #boxmiddle h3 em a {
	color: #3F66CA;
	text-decoration: none;
}
.container .MainBody .MainBodyContents .rightC #right #box #boxmiddle h3 em a:hover {
	text-decoration: underline;
}
